<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>You have had your account created to use “salesdriverapp”.</h3>

    <p>
      Download the app at <a href="#">SalseDriver</a>.
    </p>
    <p>
      Your password is <%= @pswd %>
    </p>
    <p>
      Your user id is the email address on your message.
    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
