%h1 Welcome to Sales Driver.
- if user_signed_in?
  = link_to('Logout', destroy_user_session_path, :method => :delete, class: "btn btn-danger btn-large")
- else
  = link_to('Login', new_user_session_path, class: "btn btn-primary btn-large")
