// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.simple-calendar .current-month{
  padding: 0px;
  .calendar-day{
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    cursor: pointer;
  }
  .calendar-day:hover{
    background-color: lightgray;
  }
}

.simple-calendar {
  .blocked-day{
    background-color: lightgreen;
  }

  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}
