<p><%= t('.greeting', :recipient => @resource.email, :default => "Welcome #{@resource.email}!") %></p>

<p><%= t('.instruction', :default => "Your account on 'salesdriverapp' is established") %></p>

<p><%= link_to t('.action', :default => "Confirm my account"),
         confirmation_url(@resource, :confirmation_token => @token, locale: I18n.locale) %></p>
